.container {
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.show {
    margin: 150px auto;
    text-align: center;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
    width: 600px;
    background-color: black;
    color: aliceblue;
}

button {
    box-shadow: 0px 3px 1px rgba(30, 29, 30, 0.8);
    padding: 8px 15px;
    background: white;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
}